---
layout: default
seo:
  title:
  description:
  keywords:
  image:
banner:
  - title: Lease Your Twister Trailer Today!
    text: Seamless, Cost Effective and Flexible Financing
    image: /uploads/index-banner-13.jpg
permalink: /
---
<!-- Hero / page title -->
{% for item in page.banner %}
<div class="position-relative py-5">
  <div class="container position-relative z-2 py-sm-2 py-md-4 py-lg-5 my-lg-3 my-xl-5">
    <h1 class="display-4 text-white mb-0 my-xxl-3">{{item.title}}</h1>
    <p class="lead text-white">{{item.text}}</p>
  </div>
  <img src="{{item.image}}" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rtl-flip" alt="Background image" />
  <span class="position-absolute top-0 start-0 w-100 h-100 z-1 rtl-flip" {% comment %} style="background: linear-gradient(-270deg, rgba(0, 71, 102, .80) 100%, rgba(0, 71, 102, 0) 100%)" {% endcomment %}></span>
</div>
{% endfor %}

<!-- Popular categories -->
<section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
  <h2 class="text-center pb-2 pb-sm-3 pb-lg-4 mb-xl-4">Trailer Types</h2>

  <!-- Row of items that turns into carousel on screens < 992px wide (lg breakpoint) -->
  <div class="swiper" data-swiper='{
    "slidesPerView": 2,
    "spaceBetween": 24,
    "pagination": {
      "el": ".swiper-pagination",
      "clickable": true
    },
    "breakpoints": {
      "500": {
        "slidesPerView": 3
      },
      "768": {
        "slidesPerView": 4
      },
      "992": {
        "slidesPerView": 6
      }
    }
  }'>
    <div class="swiper-wrapper mx-auto justify-content-center">
      <!-- Category -->
      {% for item in site.trailer_type %}
      <div class="swiper-slide">
        <article class="hover-effect-scale position-relative text-center">
         <a href="{{item.url}}">
          <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
            <div class="ratio ratio-1x1 hover-effect-target">
              <img src="{{item.image}}" alt="{{item.type}}" />
            </div>
          </div>
         </a>
          <h3 class="h6 pt-3 mb-0">
            <a href="{{item.url}}">{{item.type}}</a>
          </h3>
        </article>
      </div>
      {% endfor %}
    </div>
    <!-- Pagination (Bullets) -->
    <div class="swiper-pagination position-static mt-3"></div>
  </div>
</section>
      <!-- Trailers -->
      <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
        <div class="d-flex align-items-start justify-content-between gap-4 pb-3 mb-2 mb-sm-3">
          <h2 class="mb-0">Featured Trailers</h2>
          <div class="nav">
            <a class="nav-link position-relative fs-base text-nowrap py-1 px-0" href="/trailers">
              <span class="hover-effect-underline stretched-link me-1">View all</span>
              <i class="fi-chevron-right fs-lg"></i>
            </a>
          </div>
        </div>

        <!-- Listings grid -->
        <div class="row">
          {% for item in site.trailers limit: 3 %}
            {% if item.featured == true %}
            {% if forloop.first %}
            <div class="col-lg-5 mb-4 mb-lg-0">
              <!-- First Featured Item -->
              <article class="card h-100 hover-effect-scale overflow-hidden">
                <div class="row flex-lg-column h-100 g-0">
                  <div class="col-sm-5 col-lg-12 position-relative bg-body-tertiary overflow-hidden">
                    <div class="d-lg-none" style="min-height: 220px"></div>
                    <div class="d-none d-lg-block" style="min-height: 260px"></div>
                    <a class="text-decoration-none me-1" href="{{ item.url }}">
                      <img src="{{ item.gallery[0].image }}" class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image" />
                    </a>
                  </div>
                  <div class="col-sm-7 col-lg-12 d-lg-flex flex-column flex-fill py-md-2">
                    <div class="card-body pb-3 pb-md-4">
                      <a class="text-decoration-none me-1" href="{{ item.url }}">
                        <h3 class="h5 mb-2">
                          {% if item.trailer_title %}{{ item.trailer_title }}{% else %}{{ page.seo.title }}{% endif %}
                        </h3>
                      </a>
                      <small>{{ item.trailer_type }}</small>
                      <div class="h6 mt-4 mb-0">{{ item.price }}</div>
                    </div>
                    {% if item.features %}
                    <div class="card-footer bg-transparent border-0 pt-0 pb-4">
                      <div class="d-flex flex-wrap justify-content-between gap-3 border-top fs-sm text-nowrap pt-3 pt-md-4">
                        {% for list in item.features limit: 3 %}
                        <div class="d-flex align-items-center gap-2">
                          <i class="fal fa-chevron-right icon-size"></i>
                          {{ list.item }}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </article>
            </div>
            {% else %}
          <div class="col-lg-7 d-flex flex-column gap-4">
            <!-- Remaining Featured Items -->
            <article class="card hover-effect-scale overflow-hidden">
              <div class="row g-0">
                <div class="col-sm-5 position-relative bg-body-tertiary overflow-hidden" style="min-height: 220px">
                  <a class="text-decoration-none me-1" href="{{ item.url }}">
                    <img src="{{ item.gallery[0].image }}" class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image" />
                  </a>
                </div>
                <div class="col-sm-7 py-md-2">
                  <div class="card-body pb-3 pb-md-4">
                    <a class="text-decoration-none me-1" href="{{ item.url }}">
                      <h3 class="h5 mb-2">
                        {% if item.trailer_title %}{{ item.trailer_title }}{% else %}{{ item.seo.title }}{% endif %}
                      </h3>
                    </a>
                    <small>{{ item.trailer_type }}</small>
                    <div class="h6 mt-4 mb-0">{{ item.price }}</div>
                  </div>
                  <div class="card-footer bg-transparent border-0 pt-0 pb-4">
                    <div class="d-flex flex-wrap justify-content-between gap-3 border-top fs-sm text-nowrap pt-3 pt-md-4">
                      {% for list in item.features limit: 3 %}
                      <div class="d-flex align-items-center justify-content-between gap-2">
                        <i class="fal fa-chevron-right icon-size"></i>
                        {{ list.item }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          {% endif %}
            {% endif %}
            {% endfor %}
          </div>
      </section>
      <!-- Platform features -->
      <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
        <h2 class="pb-2 pb-sm-3 editable">Why Lease?</h2>

        <!-- Row of cards that turns into carousel on screens < 992px wide (lg breakpoint) -->
        <div class="swiper" data-swiper='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "460": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "992": {
              "slidesPerView": 4
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-money-check fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">Lower Monthly Payments</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-delivery-2 fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">Newer Vehicles</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-car fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">Lower Maintenance Costs</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-shopping-cart fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">No Resale Hassles</h3>
                </div>
              </div>
            </div>
            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-shopping-bag fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">Option to Purchase</h3>
                </div>
              </div>
            </div>
            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-document-search fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0 editable">Tax Benefits</h3>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination (Bullets) -->
          <div class="swiper-pagination position-static mt-3"></div>
        </div>
      </section>
