---
layout: default
seo:
  title:
  description:
  keywords:
  image:
permalink: "/"
---

<!-- Hero / page title -->
<div class="position-relative py-5">
  <div class="container position-relative z-2 py-sm-2 py-md-4 py-lg-5 my-lg-3 my-xl-5">
    <h1 class="display-4 text-white mb-0 my-xxl-3">Haul Today, Pay Later</h1>
    <p class="lead text-white">Flexible Leasing for Your Perfect Twister Trailer!</p>
  </div>
  <img src="assets/img/trailers/trailer.jpg" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rtl-flip" alt="Background image">
  <span class="position-absolute top-0 start-0 w-100 h-100 z-1 rtl-flip" style="background: linear-gradient(-270deg, rgba(0, 71, 102, .80) 100%, rgba(0, 71, 102, 0) 100%)"></span>
</div>


      <!-- Trailers -->
      <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
        <div class="d-flex align-items-start justify-content-between gap-4 pb-3 mb-2 mb-sm-3">
          <h2 class="mb-0">Trailers</h2>
          <div class="nav">
            <a class="nav-link position-relative fs-base text-nowrap py-1 px-0" href="/trailers">
              <span class="hover-effect-underline stretched-link me-1">View all</span>
              <i class="fi-chevron-right fs-lg"></i>
            </a>
          </div>
        </div>

        <!-- Listings grid -->
        <div class="row">
          {% for item in site.trailers %}
          {% if forloop.first %}
          <div class="col-lg-5 mb-4 mb-lg-0">
            <!-- Item -->
            <article class="card h-100 hover-effect-scale overflow-hidden">
              <div class="row flex-lg-column h-100 g-0">
                <div class="col-sm-5 col-lg-12 position-relative bg-body-tertiary overflow-hidden">
                  <div class="d-lg-none" style="min-height: 220px"></div>
                  <div class="d-none d-lg-block" style="min-height: 260px"></div>

                  <img src="{{item.gallery[0].item}}" class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                </div>
                <div class="col-sm-7 col-lg-12 d-lg-flex flex-column flex-fill py-md-2">
                  <div class="card-body pb-3 pb-md-4">

                    <h3 class="h5 mb-2">
                      <a class="hover-effect-underline stretched-link me-1" href="{{item.url}}">{{item.name}}</a>
                    </h3>
                    <div class="h6 mb-0">{{item.price}}</div>
                  </div>
                  <div class="card-footer bg-transparent border-0 pt-0 pb-4">
                    <div class="d-flex flex-wrap justify-content-between gap-3 border-top fs-sm text-nowrap pt-3 pt-md-4">
                      {% for list in item.features limit: 3 %}
                      <div class="d-flex align-items-center gap-2">
                        <i class="fal fa-chevron-right icon-size"></i>
                       {{list.item}}
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          {% endif %}
          {% endfor %}
          <div class="col-lg-7 d-flex flex-column gap-4">
          {% for item in site.trailers offset: 1 %}
            <!-- Item -->
            <article class="card hover-effect-scale overflow-hidden">
              <div class="row g-0">
                <div class="col-sm-5 position-relative bg-body-tertiary overflow-hidden" style="min-height: 220px">
                  <img src="{{item.gallery[0].item}}" class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                </div>
                <div class="col-sm-7 py-md-2">
                  <div class="card-body pb-3 pb-md-4">
                    <h3 class="h5 mb-2">
                      <a class="hover-effect-underline stretched-link me-1" href="{{item.url}}">{{item.name}}</a>
                    </h3>
                    <small>{{item.trailer_type}}</small>
                    <div class="h6 mt-4 mb-0">{{item.price}}</div>
                  </div>
                  <div class="card-footer bg-transparent border-0 pt-0 pb-4">
                    <div class="d-flex flex-wrap justify-content-between gap-3 border-top fs-sm text-nowrap pt-3 pt-md-4">
                      {% for list in item.features limit: 3 %}
                      <div class="d-flex align-items-center justify-content-between gap-2">
                       <i class="fal fa-chevron-right icon-size"></i>
                        {{list.item}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
            <!-- Item -->

          </div>
        </div>
      </section>


      <!-- Popular categories -->
      <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
        <h2 class="text-center pb-2 pb-sm-3 pb-lg-4 mb-xl-4">Trailers</h2>

        <!-- Row of items that turns into carousel on screens < 992px wide (lg breakpoint) -->
        <div class="swiper" data-swiper='{
          "slidesPerView": 2,
          "spaceBetween": 24,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3
            },
            "768": {
              "slidesPerView": 4
            },
            "992": {
              "slidesPerView": 6
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/custom.jpg" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Custom Trailers</a>
                </h3>
              </article>
            </div>

            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/select-series.png" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Select Series Trailers</a>
                </h3>
              </article>
            </div>

            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/stock.png" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Stock Trailers</a>
                </h3>
              </article>
            </div>

            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/equipment.jpg" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Equipment to Haul Series</a>
                </h3>
              </article>
            </div>

            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/spa.png" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Spa Therapy Trailers</a>
                </h3>
              </article>
            </div>
            <!-- Category -->
            <div class="swiper-slide">
              <article class="hover-effect-scale position-relative text-center">
                <div class="bg-body-tertiary rounded-circle overflow-hidden mx-auto" style="width: 132px">
                  <div class="ratio ratio-1x1 hover-effect-target">
                    <img src="assets/img/trailers/cargo.jpg" alt="Image">
                  </div>
                </div>
                <h3 class="h6 pt-3 mb-0">
                  <a class="hover-effect-underline stretched-link" href="#">Cargo Trailers</a>
                </h3>
              </article>
            </div>
          </div>

          <!-- Pagination (Bullets) -->
          <div class="swiper-pagination position-static mt-3"></div>
        </div>
      </section>

      <!-- Platform features -->
      <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
        <h2 class="pb-2 pb-sm-3">Why Lease?</h2>

        <!-- Row of cards that turns into carousel on screens < 992px wide (lg breakpoint) -->
        <div class="swiper" data-swiper='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "460": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "992": {
              "slidesPerView": 4
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-money-check fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">Lower Monthly Payments</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-delivery-2 fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">Newer Vehicles</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-car fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">Lower Maintenance Costs</h3>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-shopping-cart fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">No Resale Hassles</h3>
                </div>
              </div>
            </div>
            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-shopping-bag fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">Option to Purchase</h3>
                </div>
              </div>
            </div>
            <!-- Card -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 bg-secondary-subtle border-0 p-2">
                <div class="card-body">
                  <i class="fi-document-search fs-4 text-info"></i>
                  <h3 class="h5 pt-4 mt-2 mt-sm-3 mb-0">Tax Benefits</h3>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination (Bullets) -->
          <div class="swiper-pagination position-static mt-3"></div>
        </div>
      </section>
