---
layout: default
seo:
  title:
  description:
  keywords:
  image:
permalink: "trailers"
---
   <div class="container pt-4 pb-5 mb-xxl-3">

	<!-- Filter sidebar + Listings list view -->
	<div class="row pt-md-2 pt-lg-3 pb-2 pb-sm-3 pb-md-4 pb-lg-5">

	  <!-- Listings list view -->
	  <div class="col-lg-9 mx-auto">

		<!-- Grid of items -->
		<div class="vstack gap-4">
		{% for item in site.trailers %}
		  <!-- Listing -->
		  <article class="card hover-effect-scale bg-body-tertiary border-0 overflow-hidden">
			<div class="row g-0">
			  <div class="col-sm-5 position-relative bg-body-secondary overflow-hidden" style="min-height: 220px">

				<img src="{{item.gallery[0].image}}" class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
			  </div>
			  <div class="col-sm-7 py-md-2">
				<div class="card-body pb-3 pb-md-4">
				  <h3 class="h5 mb-2">
					<a class="hover-effect-underline stretched-link me-1" href="{{item.url}}">{{item.name}}</a>
				  </h3>
				  <div class="h6 mb-0">{{item.price}}</div>
				</div>
				<div class="card-footer bg-transparent border-0 pt-0 pb-4">
				  <div class="d-flex flex-wrap justify-content-between gap-3 border-top fs-sm text-nowrap pt-3 pt-md-4">
					{% for list in item.features limit: 3 %}
					  <div class="d-flex align-items-center gap-2">
						<i class="fal fa-chevron-right icon-size"></i>
					   {{list.item}}
					  </div>
					  {% endfor %}

				  </div>
				</div>
			  </div>
			</div>
		  </article>
		  {% endfor %}


		</div>

	  </div>
	</div>
  </div>
