   <!-- Page footer -->
<footer class="footer bg-body border-top" data-bs-theme="dark">
  <div class="container pt-sm-2 pt-md-3 pt-lg-4">

	<div class="accordion row pb-4 py-sm-5" id="footerLinks">
	  <div class="col-sm-4 col-md-3">
		<div class="accordion-item border-0">
		  <h6 class="accordion-header" id="buySellHeading">
			<span class="d-none d-sm-block pb-1 mb-2">Buying &amp; selling</span>
			<button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#buySell" aria-expanded="false" aria-controls="buySell">Buying &amp; selling</button>
		  </h6>
		  <div class="accordion-collapse collapse d-sm-block" id="buySell" aria-labelledby="buySellHeading" data-bs-parent="#footerLinks">
			<ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Find a car</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Sell your car</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Car dealers</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Compare cars</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Online car appraisal</a>
			  </li>
			</ul>
		  </div>
		  <hr class="d-sm-none my-0">
		</div>
	  </div>
	  <div class="col-sm-4 col-md-2 col-lg-3">
		<div class="accordion-item border-0">
		  <h6 class="accordion-header" id="aboutLinksHeading">
			<span class="d-none d-sm-block pb-1 mb-2">About</span>
			<button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#aboutLinks" aria-expanded="false" aria-controls="aboutLinks">About</button>
		  </h6>
		  <div class="accordion-collapse collapse d-sm-block" id="aboutLinks" aria-labelledby="aboutLinksHeading" data-bs-parent="#footerLinks">
			<ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">About Finder</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Contact us</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">FAQs &amp; support</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Mobile app</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Blog &amp; news</a>
			  </li>
			</ul>
		  </div>
		  <hr class="d-sm-none my-0">
		</div>
	  </div>
	  <div class="col-sm-4 col-md-2 col-xl-3">
		<div class="accordion-item border-0">
		  <h6 class="accordion-header" id="profileLinksHeading">
			<span class="d-none d-sm-block pb-1 mb-2">Profile</span>
			<button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#profileLinks" aria-expanded="false" aria-controls="profileLinks">Profile</button>
		  </h6>
		  <div class="accordion-collapse collapse d-sm-block" id="profileLinks" aria-labelledby="profileLinksHeading" data-bs-parent="#footerLinks">
			<ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">My account</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Wishlist</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">My listings</a>
			  </li>
			  <li class="pt-1">
				<a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Add listings</a>
			  </li>
			</ul>
		  </div>
		  <hr class="d-sm-none my-0">
		</div>
	  </div>
	</div>

	<!-- Copyright + Social links -->
	<div class="d-flex flex-column flex-sm-row align-items-center justify-content-between pb-4 pt-3 pt-sm-2 pt-md-3 pt-lg-4">
	  <div class="d-flex justify-content-center mb-3 mb-md-0 order-sm-2">
		<a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!" data-bs-toggle="tooltip" data-bs-template='<div class="tooltip fs-xs mb-n2" role="tooltip"><div class="tooltip-inner bg-transparent text-white opacity-75 p-0"></div></div>' title="Instagram" aria-label="Follow us on Instagram">
		  <i class="fi-instagram"></i>
		</a>
		<a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!" data-bs-toggle="tooltip" data-bs-template='<div class="tooltip fs-xs mb-n2" role="tooltip"><div class="tooltip-inner bg-transparent text-white opacity-75 p-0"></div></div>' title="Facebook" aria-label="Follow us on Facebook">
		  <i class="fi-facebook"></i>
		</a>
		<a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!" data-bs-toggle="tooltip" data-bs-template='<div class="tooltip fs-xs mb-n2" role="tooltip"><div class="tooltip-inner bg-transparent text-white opacity-75 p-0"></div></div>' title="X (Twitter)" aria-label="Follow us on X (Twitter)">
		  <i class="fi-x"></i>
		</a>
	  </div>
	  <p class="text-body-secondary fs-sm text-center mb-0 order-sm-1">&copy; All rights reserved. Made by Capital Leasing </p>
	</div>
  </div>
</footer>
	<!-- Back to top button -->
<div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
  <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
	Top
	<i class="fi-arrow-right fs-base ms-1 me-n1 animate-target"></i>
	<span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
	<svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
	</svg>
  </a>
</div>
