
<!-- Vendor scripts -->
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="/assets/vendor/cleave.js/dist/cleave.min.js"></script>
<script src="/assets/vendor/glightbox/dist/js/glightbox.min.js"></script>
<!-- Bootstrap + Theme scripts -->
<script src="/assets/js/theme.js"></script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=642ed4a32e43270019720d88&product=sop' async='async'></script>
