<!-- Vendor scripts -->
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="/assets/vendor/cleave.js/dist/cleave.min.js"></script>
<script src="/assets/vendor/glightbox/dist/js/glightbox.min.js"></script>
<!-- Bootstrap + Theme scripts -->
<script src="/assets/js/theme.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.google_analytics}}');
</script>

